<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="box box-default">
        <div class="app-heading">                                        
            <div class="title" style="padding: 15px">
              <h4>{{ 'LASTEST_TRANSACTION_LABEL' | translate }}</h4>
            </div>         
        </div>
        <div class="box-body">
               
                  
                <table class="table table-clean-paddings margin-bottom-0">
                    <thead>
                        <tr>
                            <th>{{ 'CUSTOMER_LABEL' | translate}}</th>
                            <th width="150">
                                {{ 'ORDER_NUMBER_LABEL' | translate}}
                            </th>                                                    
                            <th width="150">{{ 'STATUS_LABEL' | translate}}</th>
                            <th width="55"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of recent_orders">
                            <td>
                                <div style="min-height: 45px;" class="contact contact-rounded contact-bordered contact-lg">
                                    <img src="{{item.autorx.logo}}">
                                    <div class="contact-container">
                                        <span>
                                            {{item.autorx.first_name}}
                                            {{item.autorx.last_name}}
                                        </span>
                                        <span>{{item.created}}</span>
                                    </div>
                                </div>
                            </td>
                            <td>  <strong>{{item.order_id}}</strong></td>
                            <td>
                                <span class="label label-success label-bordered">
                                    {{ item.status | translate}}
                                </span>
                            </td>
                        </tr>
                                            

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="box box-default">
        <div class="app-heading">                                        
            <div class="title" style="padding: 15px">
              <h4>{{ 'MOST_SELLED_PRODUCT_LABEL' | translate }}</h4>
            </div>         
        </div>
        <div class="box-body">
               
                  


                <table class="table table-clean-paddings margin-bottom-0">
                    <thead>
                        <tr>
                            <th>{{ 'ARTICLE_LABEL' | translate}}</th>
                            <th width="150">
                                {{ 'SALES_LABEL' | translate}}
                            </th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of top_selled_products">
                            <td>
                                <div style="min-height: 45px;" class="contact contact-rounded contact-bordered contact-lg">
                                    {{item.title}}
                                </div>
                            </td>
                            <td>  <strong> {{item.sales}}</strong></td>
                           
                        </tr>
                                            

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="box box-default">
        <div class="app-heading">                                        
            <div class="title" style="padding: 15px">
              <h4>{{ 'LASTEST_STORE_SEARCHES_LABEL' | translate }}</h4>
            </div>         
        </div>
        <div class="box-body">
               
                <button routerLink="/articles/statistics/most-viewed" class="btn btn-primary">
                     {{ 'MOST_POPULAR_LABEL' | translate}}
                </button>
                &nbsp;
                <button routerLink="/articles/statistics/most-viewed/user" class="btn btn-primary">
                    {{ 'USER_LABEL' | translate}} {{ 'MOST_POPULAR_LABEL' | translate}}
                </button>
                 &nbsp;
                <button routerLink="/articles/statistics/searches" class="btn btn-primary">
                    {{ 'SEARCHES_LABEL' | translate}}
                </button>
         


                <table class="table table-clean-paddings margin-bottom-0">
                    <thead>
                        <tr>
                           <th>{{ 'TERM_LABEL' | translate }}</th>
                            <th>{{ 'SEARCHES_LABEL' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of searches">
                               
                            <td>
                                <span >{{item.title}}</span>
                            </td>

                            <td>
                                <strong >{{item.views}}</strong>
                             
                            </td>

                        </tr>
                                            

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
  </div>
</section>