
    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
  
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'MEDIA_LABEL' | translate}} 
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
        </div>      

        <div class="box-body">

        
    
                <div style="padding: 20px;" class="clearfix">
                    <div>
                        <div id="holder" class="dropzone dz-clickable">
                            <div class="dz-default dz-message">
                                <div class="dropzone-preupload-title">{{ 'DROP_FILES_LABEL' | translate}}</div> 
                                <p>{{'UNLOADED_FILES_LABEL' | translate}}</p>
                            </div>
                            <input type="file" id="id_files" class="hide" >
                        </div>
                        <br>
                        <div style="margin-top:25px;display: none;" class="progress">
                          <div class="progress-bar" role="progressbar" [style.width]="progress">
                            <span class="sr-only">{{progress}} Complete</span>
                          </div>
                        </div>
                    </div>

                </div>                          
                    
                     
                        
                 
                <div style="padding: 20px;" class="clearfix">
                
                    <div class="col-md-8">

                        <div class="input-group mb-12">
                          <input type="text" class="form-control" [(ngModel)]=newname  placeholder="{{ 'NAME_LABEL' | translate}}">
                          <span class="input-group-btn">
                           <button type="button" (click)="newItem()" class="btn btn-defaul dropdown-toggle" >
                               
                                   {{ 'NEW_LABEL' | translate}}  {{ 'MEDIA_DIRECTORY_LABEL' | translate}}  
                            </button>     
                          </span>
                        </div>

                    </div>
                </div>
                <div style="padding: 20px;" class="clearfix">
                    <div  class="col-md-5">
                        <div class="form-group ">
                        
                            <div class="input-group">
                                <input type="text"  class="form-control" [(ngModel)]=folder_path (keyup)=SearchPressed()  placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'FILE_PLURAL_LABEL' | translate}}">
                                <span class="input-group-btn">
                                    <button (click)="SEARCH_FOLDER()"  class="btn btn-primary" type="button">
                                        Go!
                                    </button>
                                </span>
                                <span *ngIf="search_pressed == true"  class="input-group-btn">
                                    <button  (click)="clearSearch()" class="btn btn-danger" type="button">
                                        <span class="fa fa-close"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px;" class="clearfix">      

                    <table class="table">

                        <tbody>
                            <tr >
                                <td width="75%" colspan="3" >
                                    <strong class="btn btn-primary" style="cursor: pointer;" (click)="NAVIGATE_PARENT()">
                                    {{ 'PARENT_LABEL' | translate}}
                                    </strong>
                                </td>
                                
                            </tr>
                            <tr  *ngFor="let item of items">
                                <td class="app-timeline-item" width="20px;">
                                    <div class=" padding-top-20" style="height: 102px;">
                                        <div class="contact contact-rounded contact-bordered contact-xlg margin-bottom-0">
                                           <img  *ngIf="item.folder == false"  style="height: 58px" src="{{item.url_path}}{{item.name}}" >
                                           <img  *ngIf="item.folder == true" (click)="NAVIGATE(item)" style="height: 58px;cursor: pointer;" src="/assets/img/nav.png" >
                                        </div>
                                    </div>
                                </td>
                                <td width="75%" >
                                    
                                    <strong >{{item.name}}</strong>
                                    <div  *ngIf="item.editable == true"  class="form-group ">
                                        <input type="text" [(ngModel)]=item.name  class=" form-control">
                                    </div>

                                    <strong *ngIf="item.duplicate == true"  >
                                         {{ 'ITEM_DUPLICATE_LABEL' | translate}}
                                    </strong>
                                </td>

                             
                                <td>
                                    


                                    <button *ngIf="item.folder == false" type="button"  ngxClipboard [cbContent]="item.url_path+item.name" class="btn btn-primary btnx">
                                        <i class="fa fa-clipboard"></i>
                                    </button>
                                    &nbsp;
                                    <a  *ngIf="item.editable == true"  (click)="Changename(item)" class="btn btn-primary">
                                        {{ 'SAVE_LABEL' | translate}}
                                    </a>
                                    &nbsp;
                                    <a  *ngIf="item.editable == false" (click)="Editable(item)" class="btn btn-primary">
                                        <i class="fa fa-pencil-square-o"></i>
                                        {{ 'EDIT_LABEL' | translate}}
                                    </a>
                                    &nbsp;
                                    <a  class="btn btn-danger" (click)="DELETE(item)">
                                        <i class="fa fa-trash"></i>           
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                       
                         
                    
                    


      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
