

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'ATTRIBUTES_PLURAL_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
          <div class="nav-tabs-custom" >
            <!-- Tabs within a box -->
       
                <div style="padding: 15px">
                 
                  <div class="form-group">
                    <label >{{ 'NAME_LABEL' | translate}}</label>
                    <input class="form-control"  [(ngModel)]=model.name  type="text">
                  </div>
                  <div class="form-group">
                    <label class="control-label">{{ 'ARCHETYPE_LABEL' | translate}} </label>
                    <select class="form-control" [(ngModel)]="model.archetype" >
                      <option [ngValue]="country.id" *ngFor="let country of archetypes">{{ country.name | translate}}</option>
                    </select>
                    <br>
                  </div>
                  <div class="form-group">
                    <label > <input  [(ngModel)]=model.priceable   type="checkbox"> {{ 'PRICEABLE_LABEL' | translate}}</label>
                   
                  </div>
                </div>

          </div>

        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        
        <button (click)="back()" class="btn btn-primary">
         {{ 'BACK_LABEL' | translate}} 
        </button>
        &nbsp;
        <button (click)="save()" class="btn btn-primary">
          <span  *ngIf="global.actions.is_new == true">
             {{ 'SAVE_LABEL' | translate}} 

          </span>
          <span *ngIf="global.actions.is_new == false">
             {{ 'UPDATE_LABEL' | translate}} 
          </span>
       </button>
        &nbsp;
          <a  *ngIf="global.actions.is_new == false" class="btn btn-danger" (click)="DELETE()">
            <i class="fa fa-trash"></i>
          </a>
      </div>
    </div>
    <!-- /.box -->
</section>
