<div>
    <!-- Logo -->
    <a routerLink="/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!--<li class="dropdown messages-menu" >
            <app-messages></app-messages>
          </li>
          -->

          <!-- Notifications: style can be found in dropdown.less -->
          <!--<li  class="dropdown notifications-menu">
             <app-notifications></app-notifications>
          </li>
          -->

          <!-- Tasks: style can be found in dropdown.less -->
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!--<img src="/assets/dashboard/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Alexander Pierce</span>
              -->
              {{ 'PROFILE_LABEL' | translate}}
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <!--<li class="user-header">
                <img src="/assets/dashboard/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              -->
              
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a routerLink="/profile" class="btn btn-default btn-flat">{{ 'PROFILE_LABEL' | translate}}</a>
                </div>
                <div class="pull-right">
                  <a (click)="Logoutx()" class="btn btn-default btn-flat">{{ 'LOG_OUT_LABEL' | translate}}</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a *ngIf="settings == true" routerLink="/settings" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
</div>