

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">

      <div class="box-body">
       
      	<div class="dd" id="nestable"></div>
        
      </div>
      <!-- /.box-body -->

     
    </div>
    <!-- /.box -->
</section>
