



<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'FILES_PLURAL_LABEL' | translate}} 
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 250px;">
                  <input name="table_search" class="form-control pull-right" [(ngModel)]=query (keyup)=find() placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'FILES_PLURAL_LABEL' | translate}}"type="text">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
        </div>    

      <div class="box-body">
        <div *ngIf="global.actions.deleted == true" class="alert alert-danger alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_DELETED_SUCESSFULLY_LABEL' | translate}} !</h4>
          </div>
          

        <div class="row">
            <div class="col-md-12">
                <div >
                    <div id="holder"  class="callout callout-info">
                        <h4>
                            <i class="fa fa-upload"></i>
                            {{ 'DROP_FILES_LABEL' | translate}}
                        </h4>
                        <p>{{'UNLOADED_FILES_LABEL' | translate}}</p>
                         <input type="file" id="id_files" class="hide" >
                    </div>
                    
                    <br>
                    <div *ngIf="progresss > 0" style="margin-top:25px;" class="progress">
                        <div id="progress" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progresss}}%">
                            <span class="sr-only">{{progresss}}%</span>
                        </div>
                  
                    </div>
                </div>
                      
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button"  (click)="DELETED_ALL()" class="btn btn-danger ">
                   <i class="fa fa-trash"></i>
                </button>

            </div>
        </div>
                  

        <table class="table">
            <thead>
                <tr>
                    <th width="10px"><input type="checkbox"  [(ngModel)]=selected (click)="SELECT_ALL()"></th>
                    <th>{{ 'TITLE_LABEL' | translate}}</th>
                    <th width="10%">{{ 'ACTIONS_LABEL' | translate}}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        <input type="checkbox" [(ngModel)]=item.checked>
                    </td>
                    <td>
                        <strong>{{item.title}}</strong>
                    </td>
                    <td>
                        <a class="btn btn-danger" (click)="DELETE(item)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
             
            </tbody>
        </table>

        <div *ngIf="pages > 1">
            <button (click)="loadmore()" class="btn btn-block btn-primary" type="button">
                    {{ 'LOAD_MORE_LABEL' | translate}}
            </button>
        </div>
         

      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
