<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"> {{ 'RESET_PASSWORD_LABEL' | translate}} - {{ 'SIGN_IN_TO_YOUR_ACCOUNT_LABEL' | translate}}</p>
        <div>
          
           <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="model.email" placeholder="{{'EMAIL_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="social-auth-links text-center">
                <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="Reset()">
                    {{ 'SENT_EMAIL_LABEL' | translate}}
                </button>
                <button class="btn btn-primary btn-block btn-flat" (click)="Loginx()">
                    {{ 'SIGN_IN_LABEL' | translate}}
                </button>
            </div>
          
        </div>

        <!-- /.social-auth-links -->

        
    </div>
  <!-- /.login-box-body -->
</div>


  