



    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title"> 
                {{ 'SEARCHES_LABEL' | translate}}
                <small>{{ 'LIST_LABEL' | translate}}</small>
            </h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 250px;">
                  <input name="table_search" class="form-control pull-right" [(ngModel)]=query (keyup)=find() placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'SEARCHES_LABEL' | translate}} "type="text">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
        </div>    

      <div class="box-body">
      
          


              

        <table class="table table-clean-paddings margin-bottom-0">
            <thead>
                <tr>
                   <th>{{ 'TERM_LABEL' | translate }}</th>
                    <th>{{ 'SEARCHES_LABEL' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of items">
                       
                    <td>
                        <span >{{item.term}}</span>
                    </td>

                    <td>
                        <strong >{{item.views}}</strong>
                     
                    </td>

                </tr>
                                    

            </tbody>
        </table>

        <div *ngIf="pages > 1">
            <button (click)="loadmore()" class="btn btn-block btn-primary" type="button">
                    {{ 'LOAD_MORE_LABEL' | translate}}
            </button>
        </div>
         

      
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
