
  <!-- START PAGE HEADER -->
  <header class="main-header" *ngIf="show"></header>
  <div *ngIf="show" class="main-sidebar">
    <navigation></navigation>
  </div>
  <!-- START PAGE CONTAINER -->
  <div [ngClass]="{'content-wrapper': show}" >
    <router-outlet></router-outlet>
  </div>
  
  <!---<div *ngIf="show" >
    <sidebar></sidebar>
  </div>-->

    

