<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"> {{'CHANGE_PASSWORD_LABEL' | translate}} - {{'NEW_ACCOUNT_LABEL' | translate}}</p>
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
        <div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="model.password" placeholder="{{'PASSWORD_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="model.password2" placeholder="{{'REPEAT_NEW_PASSWORD_LABEL' | translate}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
        </div>
        <div class="social-auth-links text-center">
             <button type="submit" click)="Save()" class="btn btn-primary btn-block btn-flat">
                {{'SAVE_LABEL' | translate}}
            </button>
            <button class="btn btn-primary btn-block btn-flat" (click)="Loginx()">
                {{ 'SIGN_IN_LABEL' | translate}}
            </button>
           
        </div>
        <!-- /.social-auth-links -->
    </div>
  <!-- /.login-box-body -->
</div>


  