

    <section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"> 
            {{ 'TRANSLATION_PLURAL_LABEL' | translate}} 
            <span  *ngIf="global.actions.is_new == true">
              {{ 'NEW_LABEL' | translate}}
            </span>
            <span *ngIf="global.actions.is_new == false">
              {{ 'EDIT_LABEL' | translate}}
            </span>
        </h3>
      </div>    

      <div class="box-body">
          <div *ngIf="global.actions.updated == true" class="alert alert-success alert-dismissible">
            <h4><i class="icon fa fa-check"></i> {{ 'ITEM_SAVED_SUCESSFULLY_LABEL' | translate}} !</h4>
            
          </div>
          <div class="nav-tabs-custom" >

              <!-- Morris chart - Sales -->
                <div style="padding: 15px">
                  <div class="form-group">
                    <label >{{ 'LANG_CODE_LABEL' | translate}}</label>
                    <select class="form-control" [(ngModel)]="model.lang_code" >
                      <option [ngValue]="lang.id" *ngFor="let lang of lang_codes">{{ lang.name | translate}}</option>
                    </select>
                  </div>
                    <div class="form-group">
                    <label >{{ 'KEYWORD_LABEL' | translate}}</label>
                    <textarea [(ngModel)]=model.key class="form-control" ></textarea>
                  </div> 
                  <div class="form-group">
                    <label >{{ 'CONTENT_LABEL' | translate}}</label>
                    <textarea [(ngModel)]=model.content class="form-control" ></textarea>
                  </div>                                  
                  <div class="form-group">
                    <label > <input  [(ngModel)]=model.publish   type="checkbox"> {{ 'PUBLISH_LABEL' | translate}}</label>
                  </div>
               </div>
          </div>

        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        
        <button (click)="back()" class="btn btn-primary">
         {{ 'BACK_LABEL' | translate}} 
        </button>
        &nbsp;
        <button (click)="save()" class="btn btn-primary">
          <span  *ngIf="global.actions.is_new == true">
             {{ 'SAVE_LABEL' | translate}} 

          </span>
          <span *ngIf="global.actions.is_new == false">
             {{ 'UPDATE_LABEL' | translate}} 
          </span>
       </button>
        &nbsp;
          <a  *ngIf="global.actions.is_new == false" class="btn btn-danger" (click)="DELETE()">
            <i class="fa fa-trash"></i>
          </a>
      </div>
    </div>
    <!-- /.box -->
</section>
