
.skin-blue .main-header .navbar .nav > .notifications-menu > a{
    color: #fff;
}
.skin-blue .main-header .navbar .nav > .notifications-menu > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.skin-blue .main-header .navbar .nav > .notifications-menu > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.skin-blue .main-header .navbar .nav > .notifications-menu > a{
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}